body  {
  background-image: url(/home/jason/Desktop/oscar/landscape.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
h1 {
  font-size: 120px;
  color: #fff;
  text-align: center;
  margin: 50% 0;
}
.navbar-default {
background-color: #111
}
.navbar-fixed-top  {
border-width: 0 0;
}
.container-fluid  {
  padding-left: 0;
  padding-right: 0;
}
.text-container   {
  background-color: #456;
}
